* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	text-size-adjust: 100%;
	font-size: 100%;
	line-height: 1.2;
}

input,
button,
textarea{
	font-family: inherit;
}

button {
	cursor: pointer;
}

ul li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

img,
video {
	max-width: 100%;
}
