.scoreCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.64px;

	padding: 14.92px 0 13.52px 0;

	border-radius: 5.042px;

	color: #000;
}

.label {
	font-family: Fredoka;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
}

.score {
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
}
