.app {
	position: relative;

	@media (min-width: 576px) {
		display: flex;
		align-items: safe center;
		justify-content: center;

		min-height: 100%;

		padding: 20px 0;
	}

	@media (max-width: 575.98px) {
		height: 100%;
	}

	h1 {
		position: fixed;
		z-index: 1;
		bottom: min(1.5vw, 15px);
		left: max(-24px, -2.3vw);

		user-select: none;

		color: #DCBF3F;
		font-family: Fredoka;
		font-size: min(calc((100vw - 425px) / 3.2), 195.041px);
		font-style: normal;
		font-weight: 700;
		line-height: 56.7%;

		@media (max-width: 767.98px) {
			display: none;
		}

		span {
			color: #72CFF9;
		}
	}
}